{
  "overrides": [
    {
      "files": ["**/*.js"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "printWidth": 160
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "printWidth": 160
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "parser": "json",
        "printWidth": 160
      }
    }
  ]
}
